.card {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(50, 56, 62);
  border-radius: 4px;
  min-width: 260px;
  height: 280px;
  color: inherit;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 0px #000;
}

.img {
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px 4px 0 0;
}

.info {
  padding: .5rem 2rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3px;
}

.data {
  font-size: 1.2rem;
  font-style: italic;

  >span {
    font-weight: 600;
    font-style: normal;
  }
}

