.container {
  padding: 2.4rem 1.5rem;
}

.btn {
  background-color: transparent;
  margin-bottom: 2rem;
  width: 100%;
  color: inherit;
  border-color: inherit;
}

.details {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.play {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 8.4rem;

  > img {
    border-radius: 4px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 63%;
  gap: 1.5rem;
}

.title {
  font-size: 3.2rem;
  font-weight: 600;
}

.short {
  font-size: 1.6rem;
  font-style: italic;
}
.subtitle {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.desc {
  font-size: 1.6rem;
  text-align: justify;
}

.list {
  list-style: none;
  display: grid;
  gap: 2rem;
}

.addInfo {
  grid-template-columns: repeat(3, auto);
}

.system {
  grid-template-columns: repeat(2, auto);
}

.about {
  font-size: 1.6rem;

  > span {
    display: block;
    color: rgb(122, 130, 136);
  }
}

@media (max-width: 1060px) {
  .info {
    max-width: 100%;
  }
  .play {
    position: static;
  }
}

@media (max-width: 396px) {
  .addInfo {
    grid-template-columns: repeat(2, auto);
  }

  .stickyContainer {
    max-width: 100%;
  }
}
